// color palette
$vt-c-white: #ffffff;
$vt-c-white-soft: #f8f8f8;
$vt-c-white-mute: #f2f2f2;

$vt-c-black: #181818;
$vt-c-black-soft: #222222;
$vt-c-black-mute: #282828;

$vt-c-indigo: #2c3e50;

$vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
$vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
$vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
$vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

$vt-c-text-light-1: $vt-c-indigo;
$vt-c-text-light-2: rgba(60, 60, 60, 0.66);
$vt-c-text-dark-1: $vt-c-white;
$vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

// semantic color variables for this project
$color-background: $vt-c-white;
$color-background-soft: $vt-c-white-soft;
$color-background-mute: $vt-c-white-mute;

$color-border: $vt-c-divider-light-2;
$color-border-hover: $vt-c-divider-light-1;

$color-heading: $vt-c-text-light-1;
$color-text: $vt-c-text-light-1;

$section-gap: 160px;
//////////////////////////////////////////////////

//사용자 선언 변수
$footer-height: 140px;

#app {
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}
.common-btn {
  background-color: $vt-c-text-light-1;
  border: none;
  color: white;
  
  &:hover {
    color: white;
    background-color: $vt-c-text-light-2;
  }
}

.common-pointer {
  cursor: pointer;
}

.common-mypage-wrapper {
  padding: 30px 50px;

  .common-mypage-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
}


.apply-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.apply-search {
  width: 70%;
}
.apply-content {
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  min-height: 550px;
  border-top: 2px solid #9DB2BF;
  border-bottom: 2px solid #9DB2BF;
  table {
    .my-thead {
      border-bottom: 1px solid #ccc;
      padding: 2px 10px;
      tr {
        th {
          background-color: #e5ecf2;
        }
      }
    }
    tbody {
      tr.my-hover:hover {
        td {
          background-color: #f7fcff;
        }
      }
      tr.my-tbody {
        height: 48.8px;
      }
      img {
        width: 32px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

.apply-pagenation {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .pagination {
    list-style-type: none;
    display: flex;
    gap: 8px;

    .page-item {
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
      }

      &.active {
        .page-link {
          background-color: $vt-c-text-light-1;
          color: white;

          &:hover {
            color: white;
          }
        }
      }

      .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: var(--greyDark);
        transition: background-color 0.3s;
        background-color: transparent;

        &:hover {
          color: $vt-c-text-light-2;
        }

        .bi {
          font-size: 1.2rem;
        }
      }
    }
  }
}
